@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700&display=swap');

:root{
    --lightBlue-todo:#70d6ff;
    --lightPink-todo:#ff70a6;
    --lightOrange-todo:#ff9770;
    --lightYellow-todo:#ffd670;
    --highlightYellow-todo:#e9ff70;
    --lessbright-White:#ffffffde;
    --lessdark-Black:#000000de;
    --colorless:#ffffff00;
    --disable-opacity: 0.6;
    --warning-red: #FF3232;
    --correct-green: #77DD77;
}


*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 0.05rem;
}

html{
    height: 100%;
}

body{
    background: linear-gradient(to bottom, #414345, #232526);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}

img{
    max-width: 100%;
    max-height: 100%;
}

button{
    cursor: pointer;
}

footer{
    background-color: var(--lessdark-Black);
    color: var(--lessbright-White);
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
}
/* close initial setup */

.icons{
    display: flex;
    gap: 1rem;
    font-size: 2rem;
}
  
.icons a svg:hover{
    transform: scale(1.2);
}

.github,.linkedin{
    color: var(--lessbright-White);
}

.homePage{
    display: flex;
    justify-content: center;
    min-height: 80vh;
    width: 80%;
    margin: 2rem auto;
    font-size: clamp(1rem, 2.5vw, 4rem);
    border-radius: 1rem;
    box-shadow: 0px 0px 10px 2px var(--lessdark-Black);
    background-color: var(--lessbright-White);
}

.homePage-containter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    gap: 2rem;
}

.loginInput-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.usernameText-container input{
    width: 12ch;
}

.login-btn button, .usernameText-container input{
    padding: 0.5rem;
    font-size: clamp(1rem, 2.5vw, 2rem);
    border-radius: 1rem;
    border-color: var(--lessdark-Black);
    font-weight: 600;
}

.login-btn button:hover{
    background-color: var(--lessdark-Black);
    color: var(--lessbright-White);
}
/* close HomePage styles */

.todoPage{
    font-size: clamp(1.5rem, 2.5vw, 2rem);
    box-shadow: 0px 0px 10px 2px var(--lessdark-Black);
}

.todoPage-container{
    width: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--lessbright-White);
    width: 100%;
    padding: 1rem;
    column-gap: 0.5rem;
    row-gap: 1rem;
}

nav > div:last-child > div:first-child > div:first-child > input{
    text-align: center;
    width: 26ch;
}

.addTodo-container{
    display: flex;
    flex-direction: column;
}

.todoInput-container{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.todoInputText-container input, .todoInputButton-container button{
    padding: 0.5rem;
    font-size: clamp(1rem, 2.5vw, 2rem);
    border-radius: 1rem;
    border-color: var(--lessdark-Black);
    font-weight: 600;
    display: flex;
    align-items: center;
}

.todoInputButton-container button{
    background-color: var(--lessdark-Black);
    color: var(--lessbright-White);
    border-style: none;
}

.todoInputButton-container button:hover{
    transform: translateY(-7.5px) scale(1.05);
    transition: transform 250ms ease-in-out 25ms;
}

.options{
    font-size: 65%;
    padding: 0.25rem 1rem;
}

.options-text{
    padding-top: 0.5rem;
    font-size: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.options-text h6:nth-child(2){
    color: var(--highlightYellow-todo);
    background-color: var(--lessdark-Black);
    font-size: clamp(0.75rem, 1.5vw, 1.25rem);
    padding: 0.25rem 1.5rem;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 0px 5px var(--lessdark-Black);
}

.wrench:hover{
    transform: scale(1.2) rotate(45deg);
    cursor: pointer;
}

.hide{
    display: none;
}

.showOption{
    transform: rotate(45deg);
    transition: transform 250ms ease-in-out 25ms;
}

.closeOption{
    transform: rotate(0deg);
    transition: transform 250ms ease-in-out 25ms;
}

.options-container{
    display: flex;
    padding: 0.5rem;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 100%;
    background-color: var(--lessbright-White);
    border-radius: 0.5rem;
    transition: transform 250ms ease-in-out 25ms;
}

.deadline-checkbox, .fixColor-checkbox{
    display: flex;
    align-items: center;
    gap: 0.25rem;
    padding: 0.25rem;
}

.deadline-container, .fixColor-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.colorDropdown-container select, .deadlineInput{
    font-weight: 700;
    padding: 0.25rem;
    border-radius: 0.5rem;
    border-color: var(--lessdark-Black);
}

.greeting-container{
    text-align: center;
}

.greeting h1{
    color: var(--lessdark-Black);
    font-size: clamp(1rem, 2.5vw, 2rem);
    font-weight: 400;
}

.username{
    text-decoration: underline;
    font-weight: 700;
}

.list-container{
    display: flex;
    width: 100%;
}

.todoList-container,.doneList-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 50vw;
    min-height: calc(100vh - 9.25rem);
    padding: 2rem;
    gap: 1rem;
}

.todoList-title,.doneList-title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    text-align: center;
    color: var(--lessbright-White);
}

.clear-btn{
    padding: 0.5rem;
    font-weight: 700;
    font-size: 2rem;
    height: fit-content;
    display: flex;
    justify-content: center;
    border-style: none;
    border-radius: 0.25rem;
}

.clear-btn:hover{
    background-color: var(--colorless);
    color: var(--lessbright-White);
}

.doCard-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
    z-index: 1;
    width: 100%;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    border-radius: 1rem;
}

.doCard-container:hover{
    transform: scale(1.05);
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
}

.doCard-doText{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    word-wrap: break-word;
    max-width: 50%;
    height: 100%;
    line-height: 2rem;
}

.doCard-deadlineText{
    display: flex;
    flex-direction: column;
    line-height: 1.4rem;
}

.doCard-editContainer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.doCard-editContainer input, select, option{
    display: flex;
    gap: 0.25rem;
    padding: 0.25rem;
    font-weight: 700;
    border-radius: 0.5rem;
    border-color: var(--lessdark-Black);
}

.doCard-button{
    display: flex;
    height: 100%;
    gap: 1rem;
}

.doCard-button button{
    border-radius: 2rem;
    border-style: var(--colorless);
    width: 5.325rem;
    font-size: 1.25rem;
    height: 2.5rem;
    padding-top: 0.25rem;
}

.doCard-button button:hover{
    color: var(--lessbright-White);
    background-color: var(--lessdark-Black);
}

.watch:hover,.reset:hover,.editIcon:hover{
    color: var(--highlightYellow-todo);
}

.play:hover,.check:hover{
    color: var(--correct-green);
}

.pause:hover{
    color: var(--highlightYellow-todo);
}

.cross:hover{
    color: var(--warning-red);
}

.lightBlue{
    background-color: var(--lightBlue-todo);
}

.text-lightBlue{
    color: var(--lightBlue-todo);
}

.lightPink{
    background-color: var(--lightPink-todo);
}

.text-lightPink{
    color: var(--lightPink-todo);
}

.lightOrange{
    background-color: var(--lightOrange-todo);
}

.text-lightOrange{
    color: var(--lightOrange-todo);
}

.lightYellow{
    background-color: var(--lightYellow-todo);
}

.text-lightYellow{
    color: var(--lightYellow-todo);
}

.colorDropDown{
    background-color: var(--lessdark-Black);
}

.edit,.doneButton{
    background-color: var(--lessdark-Black);
    color: var(--highlightYellow-todo);
    border-color: var(--lessdark-Black);
    font-weight: 700;
}

.disable{
    opacity: var(--disable-opacity);
    z-index: -1;
}

.timer-button,.utility-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.done{
    opacity: var(--disable-opacity);
    z-index: -999;
}

.done-text{
    text-decoration: line-through;
}

.timer-button button:first-child{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    padding: 0;
}

.timer{
    width: 100%;
}

.LeftArrow{
    display: none;
    position: absolute;
    left: 2vw;
    color: var(--lessdark-Black);
}

.LeftArrow:hover, .rightArrow:hover{
    color: var(--lessbright-White);
}

.rightArrow{
    display: none;
    position: absolute;
    right: 2vw;
    color: var(--lessdark-Black);
}

.slideLeft{
    transform: translateX(100%);
}

.slideRight{
    transform: translateX(-100%);
}

.warnDeadline{
    color: var(--warning-red);
    background-color: var(--lessdark-Black);
    text-decoration: underline;
}

.done-textwarnDeadline{
    color: var(--warning-red);
    background-color: var(--lessdark-Black);
    text-decoration: #000 line-through;
}

.done-texttodayDeadline{
    text-decoration: #000 line-through;
}

.shaking{
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    color: var(--warning-red);
}

.shaking::placeholder{
    color: var(--warning-red);
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-2px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(4px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-8px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(8px, 0, 0);
    }
}

/* media screen */

@media only screen and (max-width: 340px) {
    .todoInput-container{
        flex-direction: column;
        align-items: center;
    }

    .options-text{
        text-align: center;
    }
}

@media only screen and (max-width: 480px) {

    .doCard-container{
        flex-direction: column;
        text-align: center;
    }

    .doCard-doText{
        gap: 1rem;
        max-width: 100%;
        width: 100%;
    }

    .doCard-button{
        justify-content: center;
        width: 100%;
    }

    .todoList-title,.doneList-title{
        flex-direction: column;
        gap: 1rem;
    }

    .todoList-container,.doneList-container{
        gap: 2rem;
    }
}

@media only screen and (max-width: 1024px) {

    body{
        overflow-x: hidden;
    }

    nav{
        flex-direction: column;
    }

    .todoListPage{
        transform: translateX(0vw);
        transition: transform 500ms ease-in-out 25ms;
    }

    .doneListPage{
        transform:  translateX(-100vw);
        transition: transform 500ms ease-in-out 25ms;
    }

    .todoList-container,.doneList-container{
        position: relative;
        flex-shrink: 0;
        max-width: 100vw;
    }


    .doCard-container{
        max-width: 34.75rem;
        margin: 0 auto;
    }

    .LeftArrow, .rightArrow{
        display: unset;
    }
    
}

@media only screen and (min-width: 1440px) {
    main{
        max-width: 160rem;
        margin: 0 auto;
    }
}